
# === Git : ===========================
.git


# === Python : ========================
*.pyc
*.pyo
.venv
.pytest_cache
.coverage
venv


# === Django : ========================
*.log
migrations
__pycache__


# === macOS : =========================
.DS_Store


# === Vim : ===========================
*.swp
*.swo
*.swx


# === secrets : =======================
.env
*.env.*
secret
secrets
.secrets
*.crt
*.key
