
/* ************************************************************************** *#
#*     * global :                                                             *#
#* ************************************************************************** */
@font-face {
    font-family:'Exo2';
    src: url('/static/assets/fonts/Exo2-Italic.ttf');
    font-weight: 100 900;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-size: 16px;
    --color-bg: #011627;
    --color-text: #ffffff;
    --color-primary: #00babc;
    --color-secondary: #007174;
    --color-intra: #00282C;
    --color-google: #ffffff;
    --color-border: #00babc66;
}


body{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-color: #011627;
    overflow: hidden;
    font-family: 'Exo2', sans-serif;
}

img {
    pointer-events: none;
}

app-root {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* ************************************************************************** *#
#*     * loading screen :                                                     *#
#* ************************************************************************** */
.loading-circle {
    width: 80px;
    height: 80px;
    border: 8px solid transparent;
    border-top: 8px solid var(--color-primary);
    border-radius: 50%;
    animation: lead 1.5s linear infinite;
}

/* The leading animation */
@keyframes lead {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.5s ease-out, visibility 0s 0.5s;
    z-index: 900000;
    opacity: 1;
    transition: opacity 1s ease-out;
}

@keyframes fadeInSlideUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.fade-in-slide-up {
    animation: fadeInSlideUp 0.5s ease-out;
}
