:root {
    --font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    width: 100vw;
    height: 100dvh;
    background-color: #011627;
    overflow: hidden;
}

